# Python Learning Exercise One

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined.

We define tuples using parentheses and specify the sequence in our tuple as follows:

In [1]:
chocolates = ('dark', 'milk', 'semi sweet')

In [2]:
chocolates

('dark', 'milk', 'semi sweet')

In [3]:
chocolates[3]='cocoa'
#expected the error because you cannot assign new values to a tuple

TypeError: 'tuple' object does not support item assignment

In [4]:
names = ('Noah')
type(names)

str

In [5]:
names[1]='John'
#expected the error because you cannot assign new values to a tuple(it says string because there is only one value)

TypeError: 'str' object does not support item assignment

In [11]:
test = [1,2,3,(4,5,6)]
print(type(test))
print(test.pop())#Removed the tuple (4,5,6) because it is treated as one object
print(test)

<class 'list'>
(4, 5, 6)
[1, 2, 3]